<div class="box">
    <h1>Bienvenido {{user.first_name}}!</h1>
    <hr>
    <div class="box">
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Age: {{user.age}}</p>
        <p>Role: {{user.role}}</p>
    </div>
</div>