<div class="box">
    <h1>Productos</h1>
    <div class="products-box">
        {{#each products}}
            <div class="product-card">
                <h3>{{this.title}}</h3>
                
                <p>Descripción: {{this.description}}</p>
                <p>Precio: $ {{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <button onclick="addProductCart({{this.id}})">Agregar a carrito</button>
                <a><button>Ver detalles</button></a>
                <hr>
            </div>
        {{/each}}
        <hr>
        <p>Página: {{this.page}}</p>
    </div>
    <div>
        {{#if hasPrevPage}}
            <a href={{this.prevLink}}><< Anterior</a>
        {{/if}}
    </div>
    <br>
    <div>
        {{#if hasNextPage}}
            <a href={{this.nextLink}}>Siguiente >></a>
        {{/if}}
    </div>
</div>